
.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/talk_uoft_19_03_2020.iml

.idea/workspace.xml

bftq ag eof empire.xml

main.nav

main.out

main.pdf

main.py

main.snm
